# intermediate files
*~
.curry
*.state

# executables
addtypes/AddTypes
browser/BrowserGUI
browser/SourceProgGUI
CASS/cass
CASS/cass_worker
curry2js/Curry2JS
currydoc/CurryDoc
currytest/CurryTest
createmakefile/CreateMakefile
erd2curry/erd2curry
genint/GenInt
importcalls/ImportCalls
spicey/spiceup
