# intermediate files
*~
.curry
Curry_Main_Goal.curry

# executables
addtypes/AddTypes
browser/BrowserGUI
browser/SourceProgGUI
CASS/cass
CASS/cass_worker
createmakefile/CreateMakefile
curry2js/Curry2JS
currypp/Main
currycheck/CurryCheck
currydoc/CurryDoc
currytest/CurryTest
cusage/CheckUsage
erd2cdbi/ERD2CDBI
erd2curry/erd2curry
genint/GenInt
importcalls/ImportCalls
optimize/bindingopt
optimize/binding_optimization/BindingOpt
runcurry/RunCurry
spicey/spiceup
xmldata/Data2Xml
